
<form action="/add" method="POST">
  Product name:<br>
  <input type="text" name="prodName"><br>
  Price:<br>
  <input type="text" name="price"><br><br>
  Category:<br>
  <input type="text" name="category"><br><br>
  <input type="submit" value="Submit">
</form>