
<form action="/user/{{prod.prodId}}" method="POST">
  Product name:<br>
  <input type="text" name="prodName" value={{prod.prodName}}><br>
  Price:<br>
  <input type="text" name="price" value={{prod.price}}><br><br>
  Category:<br>
  <input type="text" name="category" value={{prod.category}}><br><br>
  <input type="submit" value="Submit">
</form>